#header {
  display: flex;
  margin: auto;
  height: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  gap: 40px;
}

#dataBox,
#goalList {
  width: 75%;
  margin: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #afafaf;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

#startBtn {
  width: 20rem;
  height: 100%;
  background-color: rgb(52, 99, 227);
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
}

#resetBtn {
  width: 5rem;
  height: 100%;
  background-color: rgb(98, 104, 122);
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
}

#clockRunning {
  background-color: rgb(227, 21, 21);
  color: white;
}

ul {
  list-style-type: '\2610 ';
  cursor: pointer;
}

#outputDiv {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  width: 100%;
  gap: 40px;
  justify-content: center;
}

.outputBlock {
  border: 1px gray solid;
  padding: 10px;
  width: 45%;
}

#goalList {
  margin-top: 10px;
}

#canvas {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
  width: 75%;
  height: 50px;
  border: 1px solid gray;
}

#progressPercent {
  color: black;
}
